:root {
  --page-color: #2c5530;
  --page-color-2: #739e82;
  --alt-color: #f3ffb6;
  --alt-color-2: #d38b5d;
  --alt-color-3: #99621e;
}

* {
  box-sizing: border-box;
  border: 1px solid black;
}

body {
  background: linear-gradient(270deg, var(--alt-color-3), var(--alt-color));
}

#title-div {
  background: linear-gradient(270deg, var(--alt-color), var(--page-color));
  width: 80%;
  height: 25vh;
  margin: auto;
  border: 10px solid var(--alt-color-2);
  border-radius: 20px;
}

h1,
h2 {
  text-align: center;
  font-size: 38px;
}

#recipie-div {
  height: 25vh;
  background: var(--alt-color-3);
}

#recipie-div img {
  height: 20vh;
  display: inline;
  justify-content: space-between;
  border: 4px solid tan;
}

ul {
  background: linear-gradient(270deg, var(--alt-color), var(--page-color));
  width: 100%;
  height: 100vh;
  border: 10px solid var(--alt-color-2);
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 2vw;
  text-align: center;

}

ul li {
  list-style-type: none;
  height: 8vh;
  font-size: 24px;
}

ul li a:active,
ul li a:visited,
ul li a:hover {
  color: var(--alt-color-);
  text-decoration: none;
  text-transform: none;
}

