:root {
  --page-color: #2c5530;
  --page-color-2: #739e82;
  --alt-color: #f3ffb6;
  --alt-color-2: #d38b5d;
  --alt-color-3: #99621e;
  --page-gradient: linear-gradient(270deg, var(--alt-color), var(--page-color));
  --page-gradient-2: linear-gradient(90deg, var(--alt-color-3), var(--alt-color));
  --page-image: url("../assets/fire-2.jpg");
  --page-image-2: url("../assets/cooking-4.webp");
  --page-image-3: url("../assets/cooking-2.jpg");
}

* {
  box-sizing: border-box;

}

body {
 background: var(--page-color-2)
}

#title-div {
  /*background: linear-gradient(270deg, var(--alt-color), var(--page-color));*/
  background: var(--page-image-3);
  background-size: cover;
  height: 70vh;
  margin: auto;
  width: auto;
  border: 3px solid var(--alt-color)
}

#title-text span, #recipie-div h2 {
    color: white;
    display: block;
    align-content: center;
    justify-content: center;
    padding-bottom: 2vh;
    font-weight: bold;
}


#recipie-list {
  height: 30vh;
  background: var(--page-gradient-2);
  border: 4px solid var(--page-color-2);
  border-radius: 20px;
  width: 25vw;
  margin-top: 5vh;
}

#recipie-list img {
  height: 20vh;
  width: 20vw;
  display: inline;
  justify-content: space-between;
  border: 10px solid whitesmoke;
  border-radius: 100px;
}

ul {
  background: black;
  width: 100%;
  height: 80vh;
  border: 10px solid var(--alt-color-2);
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 2vw;
  text-align: center;
}

ul li {
  list-style-type: none;
  height: 20vh;
  font-size: 24px;
  color: black;
  padding-top: 3vh;
}

ul li a:active,
ul li a:visited,
ul li a:hover, ul li a {
  color: var(--alt-color-);
  text-decoration: none;
}


